@page "/dictionary"
@using WeatherApp.Client.Components
@inject HttpClient Http

<PageTitle>About</PageTitle>

@if (regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="AddRegion"> Add Employee </Button>

        <Grid @ref="grid"
          TItem="RegionDTO"
          Class="table table-hover table-bordered table-striped"
          Data="regions"
          AllowFiltering="true"
          Responsive="true">

            <GridColumn TItem="RegionDTO" HeaderText="Name" PropertyName="Reg_name">
                @context.Reg_name
            </GridColumn>
            <GridColumn TItem="RegionDTO" HeaderText="Reg_Code" PropertyName="Reg_code">
                @context.Reg_code
            </GridColumn>
        </Grid>
}


