@page "/"
@using WeatherApp.Client.Components


<PageTitle>Weather forecast</PageTitle>

<h1>Weather everyDay!🌦️🌤️🌧️ </h1>

    <Tabs>
        <Tab Title="Day" IsActive="true">
            <Content>
                    <DayInfo_Component />
            </Content>
        </Tab>
        <Tab Title="Period">
            <Content>
                    <PeriodInfo_Component />
            </Content>
        </Tab>
    </Tabs>






