<div class="input-weather-form">
    <form method="post">
        <div class="input-fields">
            <div><label for="courses">Select Characteristic</label></div>
            <div>
                <select id="courses" name="Characteristic">
                        <option value="computer_engineering">Atm. pressure</option>
                        <option value="slectrical_engineering">Temperature</option>
                        <option value="mechanical_engineering">Wind speed</option>
                        <option value="civil_engineering">Precipitation events</option>
                </select>
            </div>
            <div>
                <input name="" value="Enter value...">
            </div>
            <div>
                <button type="submit">Add</button>
            </div>
        </div>

    </form>
</div>