
.filters-form div * {
    margin: 2px;
}
.filters-form div {
    margin: 5px;
}
.filters-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


