
.filters-form div * {
    margin: 2px;
}
.filters-form div {
    margin: 5px;
}
.filters-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.input-weather-form {
    /*background-color:gainsboro;*/
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: revert;
}
.input-weather-form div {
    margin: 5px;
}

.enabled-input-form {
    font-size: 20pt;
}
.input-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}