/** {
    box-sizing: border-box;
}
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.tabs {
    position: relative;
    margin: 3rem 0;
    background: rgba(32, 178, 170, 0.3);
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: lightseagreen;
    border-right: 0.125rem solid lightseagreen;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
    background: darkturquoise;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
    background: rgba(31, 87, 78, 0.4);
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid rgba(32, 178, 170, 0.3);
    transition: all 0.35s;
    z-index: 1;
    text-decoration: underline;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}*/
