@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherApp.AppCore.Models;
@using WeatherApp.Client.Components;

@inject HttpClient Http


 @if (weathers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div class="filters-form">
            <div>
                <label>Select date</label>
                <input type="date">
            </div>
            <div>
                <label>Select region</label>
                <select name="Region">
                    <option value="computer_engineering">Russia</option>
                    <option value="slectrical_engineering">Argentina</option>
                    <option value="mechanical_engineering">UK</option>
                    <option value="civil_engineering">Ukrain</option>
                </select>
            </div>
            <div>
                <button class="enabled-input-form" @onclick=Toggle>+</button>
            </div>
        </div>
        @if (!Collapsed)
        {
            <WeatherInput_Component />
        }

        <Grid @ref="grid"
          TItem="ClimateDayInfoDTO"
          Class="table table-hover table-bordered table-striped"
          DataProvider="WeatherDataProvider"
          AllowFiltering="true"
          Responsive="true">

            <GridColumn TItem="ClimateDayInfoDTO" HeaderText="UUID" PropertyName="ClimatDayInfo_ID">
                @context.ClimatDayInfo_ID
            </GridColumn>
            <GridColumn TItem="ClimateDayInfoDTO" HeaderText="UUID_Region" PropertyName="RegionID">
                @context.RegionID
            </GridColumn>
            <GridColumn TItem="ClimateDayInfoDTO" HeaderText="Date" PropertyName="day_Date">
                @context.day_Date
            </GridColumn>
        </Grid>

    </div>
}

@code {
    // private WeatherForecast[]? forecasts;

    BlazorBootstrap.Grid<ClimateDayInfoDTO> grid = default!;
    private IEnumerable<ClimateDayInfoDTO> weathers;

    [Parameter]
    public bool Collapsed { get; set; } = true;


    void Toggle()
    {
        Collapsed = !Collapsed;
    }

    private async Task<GridDataProviderResult<ClimateDayInfoDTO>> WeatherDataProvider(GridDataProviderRequest<ClimateDayInfoDTO> request)
    {
        return await Task.FromResult(request.ApplyTo(weathers));
    }

    // public async Task<IEnumerable<Weather>> GetWeathersFromJSONAsync()
    // {
    //     var options = new JsonSerializerOptions()
    //         {
    //             ReferenceHandler = ReferenceHandler.Preserve,
    //             PropertyNameCaseInsensitive = true
    //         };
    //    return await Http.GetFromJsonAsync<IEnumerable<Weather>>("WeatherForecast", options);
    // }

    protected override async Task OnInitializedAsync()
    {
        weathers = await Http.GetFromJsonAsync<IEnumerable<ClimateDayInfoDTO>>("http://localhost:5141/api/ClimatDayInfo");
    }

}