@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherApp.AppCore.Models;
@using WeatherApp.Client.Components;

@inject HttpClient Http


    <div>
        <div class="filters-form">
            <div>
                <label>Select date</label>
                <input @bind-value="selectedDate" type="date" format="yyyy-mm-dd">
            </div>
            <div>
                <label>Select region</label>
            <AutoComplete @bind-Value="selectedRegion"
                              TItem="RegionDTO"
                              DataProvider="RegionsDataProvider"
                              PropertyName="Reg_name"
                              Placeholder="Search a Region..."
                              OnChanged="(RegionDTO region) => OnAutoCompleteChanged(region)" />
            </div>
            <div>
                <Button Color="ButtonColor.Primary" @onclick="btn_click" > Search </Button>
            </div>
        </div>

        <Grid @ref="grid"
          TItem="Tuple<string,string,string>"
          Class="table table-hover table-bordered table-striped grid-btn-hidden"
          Data="charact"
          Style="width:50%;"
          AllowFiltering="true"
          EmptyText="Data Empty"
          AllowPaging="true"
          Responsive="true">

         <GridColumn TItem="Tuple<string,string,string>" HeaderText="Characts_Name"  Freeze="true">
             @context.Item1
         </GridColumn>
         <GridColumn TItem="Tuple<string,string,string>" HeaderText="Value">
            @context.Item2
         </GridColumn>
         <GridColumn TItem="Tuple<string,string,string>" HeaderText="Measure">
            @context.Item3
         </GridColumn>
        </Grid>

    </div>

