@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherApp.AppCore.Models;
@using WeatherApp.Client.Components;

@inject HttpClient Http


 @if (characts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div class="filters-form">
            <div>
                <label>Select date</label>
                <input type="date">
            </div>
            <div>
                <label>Select region</label>
                <AutoComplete @bind-Value="region"
                              TItem="RegionDTO"
                              DataProvider="RegionsDataProvider"
                              PropertyName="Reg_name"
                              Placeholder="Search a Region..."
                              OnChanged="(RegionDTO region) => OnAutoCompleteChanged(region)" />
            </div>
        </div>

        <Grid @ref="grid"
          TItem="ClimateDayInfoDTO"
          Class="table table-hover table-bordered table-striped"
          Data="characts"
          AllowFiltering="true"
          EmptyText="No records to display"
          AllowPaging="true"
          Responsive="true">

         <GridColumn TItem="ClimateDayInfoDTO" HeaderText="UUID" PropertyName="ClimatDayInfo_ID">
            @context.ClimatDayInfo_ID
         </GridColumn>
         <GridColumn TItem="ClimateDayInfoDTO" HeaderText="UUID_Region" PropertyName="RegionID">
            @context.RegionID
         </GridColumn>
         <GridColumn TItem="ClimateDayInfoDTO" HeaderText="Date" PropertyName="day_Date">
            @context.day_Date
         </GridColumn>

        </Grid>

    </div>
}
